<div class="card">
	<h2 class="card_header">
		{{project.name}}</h2>
	<p>
		{{project.url}}
	</p>
	<p>
		{{project.gitUrl}}
	</p>
	<p>
		{{project.description}}
	</p>
    	<p>
		{{project.id}}
	</p>
	<img>
	{{project.image}}
</img>
<div class="">
	<a href="/updateProject/{{project.id}}">
		<button>Modifier</button>
	</a>
	<a href="deleteProject/{{project.id}}">
		<button>Supprimer</button>
	</a>

</div>
