<div class="card">
	<h2 class="card_header">{{project.name}}</h2>
	<article>
		<h4>Lien:</h4>
		<p>{{project.url}}</p>
	</article>
	<article>
		<h4>Lien git:</h4>
		<p> {{project.gitUrl}}</p>
	</article>
	<article>
		<h4>Description:</h4>
		<p>{{project.description}}</p>
	</article>
	<div class="imgContainer">
		<img src="/img/uploads/{{project.image}}"></img>
	</div>
	<div class="btn-bar">
		<div class="button_container">
			<div class="button_wrapper">
				<a href="/updateProject/{{project.id}}">
					<button class="button">Modifier</button>
				</a>
			</div>
		</div>
		<div class="button_container">
			<div class="button_wrapper">
				<a href="deleteProject/{{project.id}}">
					<button class="button">Supprimer</button>
				</a>
			</div>
		</div>
	</div>
</div>
